.i-present {
  background: url("../img/icon/present.svg");
  width: 20px;
  height: 20px;
}

.i-phone {
  background: url("../img/icon/phone.svg");
  width: 18px;
  height: 18px;
}

.i-checkmark {
  background: url("../img/icon/checkmark.svg");
  width: 16px;
  height: 11px;
}

.i-arrow-left {
  background: url("../img/icon/arrow-left.svg");
  width: 12px;
  height: 12px;
}

.i-arrow-right {
  background: url("../img/icon/arrow-right.svg");
  width: 12px;
  height: 12px;
}
