.i-present {
  background: url("../img/icon/present.svg");
  width: 20px;
  height: 20px;
}

.i-phone {
  background: url("../img/icon/phone.svg");
  width: 18px;
  height: 18px;
}

.i-checkmark {
  background: url("../img/icon/checkmark.svg");
  width: 16px;
  height: 11px;
}

.i-arrow-left {
  background: url("../img/icon/arrow-left.svg");
  width: 20px;
  height: 20px;
}

.i-arrow-right {
  background: url("../img/icon/arrow-right.svg");
  width: 20px;
  height: 20px;
}

.i-telegram {
  background: url("../img/icon/telegram.svg");
  width: 50px;
  height: 50px;
}

.i-youtube {
  background: url("../img/icon/youtube.svg");
  width: 50px;
  height: 50px;
}

.i-whatsapp {
  background: url("../img/icon/whatsapp.svg");
  width: 50px;
  height: 50px;
}

.i-menu {
  background: url("../img/icon/menu.svg");
  width: 30px;
  height: 30px;
}

.i-menu-black {
  background: url("../img/icon/menu-black.svg");
  width: 30px;
  height: 30px;
}

.i-close {
  background: url("../img/icon/close.svg");
  width: 24px;
  height: 24px;
}

.i-insta-sm {
  background: url("../img/icon/insta.svg");
  width: 24px;
  height: 24px;
}

.i-whatsapp-sm {
  background: url("../img/icon/whatsapp-sm.svg");
  width: 18px;
  height: 18px;
}

.i-youtube-sm {
  background: url("../img/icon/youtube-sm.svg");
  width: 20px;
  height: 20px;
}

.i-youtube-play {
  background: url("../img/icon/youtube-play.svg");
  width: 52px;
  height: 38px;
}